/* src/pages/HomePage/HomePage.module.scss */
.container {
    display: flex;
    flex-direction: row;
  }
  
  /* Statistics.module.scss */

.highlight {
  background-color: #dff0d8; /* Light green background */
}

.total {
  font-weight: bold;
  margin-top: 20px;
}
