@import '../../../styles/global.scss';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  font-size: 0.9rem;
  border-radius: 10px;
  background-color: $grey;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;

  label {
    color: $white;
    margin-bottom: 5px;
    font-weight: bold;
  }

    form {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0% 20px;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }

    h3{
        color: $white;
        margin: 0px 0px 20px 0px;
    }

    .input {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 30px;
      padding: 5px 0px;


      input, select { // Dostosowanie zarówno dla inputów, jak i select
        width: 60%; // Inputy na 100% szerokości kontenera
        height: 100%;
        height: 30px;
        border-radius: 5px;
        border: 1px solid $dark-grey;
        padding-left: 10px;
        box-sizing: border-box;
      }
    }
  }

  button {
    padding: 8px 40px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: $blue;
    font-weight: 700;
    font-size: 1rem;
    color: $dark-grey;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken($dark-blue, 10%);
    }
  }

