/* Availability.module.scss */

@import '../../styles/global.scss'; // Jeśli korzystasz z globalnych zmiennych

.content {
  display: flex;
  flex-direction: column; /* Domyślnie układ jednokolumnowy */

  @media (min-width: 1060px) {
    flex-direction: row; /* Na szerokich ekranach układ dwukolumnowy */
  }

  .left {
    width: 100%; /* Pełna szerokość na wąskich ekranach */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width: 1060px) {
      width: 50%; /* Połowa szerokości na szerokich ekranach */
    }
    padding: 20px;

    h2 {
      margin-bottom: 20px;
      margin-left: -5px;
      font-size: 1.5rem;
    }

    .autofill{
      margin: 20px 0px;
      display: flex;
      justify-content: center;
      width: 100%;
      border: 2px solid $dark-blue;
      border-radius: 10px;
      background-color: $white;
    }

    .selects,
    .selectsRow {
      .selector {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        width: 100%;

        label {
          margin-right: 10px;
          font-size: 1.1rem;
          font-weight: bold;
        }

        select {
          flex: 1;
          padding: 8px;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 5px;
          outline: none;
        }
      }
    }

    /* Styl dla komponentu AutoFillAvailability, jeśli potrzebny */
    .autoFillComponent {
      margin-top: 20px;
    }

    .submitStatus {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px 0px;
      padding-top: 10px;
      width: 100%;
      border: 2px solid $dark-blue;
      border-radius: 10px;
      background-color: $white;

      p {
        margin: 5px 0;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;

        span {
          &.approved {
            color: green;
          }

          &.notApproved {
            color: red;
          }
        }
      }
    }



    .buttonContainer {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      button {
        padding: 10px 20px;
        font-size: 1rem;
        font-weight: bold;
        color: #ffffff;
        background-color: #26961b;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken(#26961b, 10%);
        }

        &:disabled {
          background-color: #888888;
          cursor: not-allowed;
        }
      }
    }
  }

  .availabilityForm {
    width: 100%; /* Pełna szerokość na wąskich ekranach */
    @media (min-width: 1060px) {
      width: 50%; /* Połowa szerokości na szerokich ekranach */
    }
    padding: 20px;
    overflow-x: auto; /* Dla tabeli na wąskich ekranach */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    table {
      width: 100%;
      border-collapse: separate; /* Użycie 'separate' pozwala na zastosowanie border-radius */
      border-spacing: 0; /* Usuń odstępy między komórkami */
      font-size: 1rem;
      border: 2px solid $grey;
      border-radius: 10px; /* Zaokrąglone rogi */
      overflow: hidden; /* Ukrycie wystających elementów */
      background-color: $grey;
  
      th,
      td {
        padding: 10px;
        border: 1px solid $grey;
  
        &:first-child {
          border-left: none; /* Usuń podwójne ramki */
        }
  
        &:last-child {
          border-right: none;
        }
      }
  
      th {
        background-color: $grey;
        color: $white;
        text-align: center;
  
        &:first-child {
          border-top-left-radius: 10px; /* Zaokrąglenie lewego górnego rogu */
        }
  
        &:last-child {
          border-top-right-radius: 10px; /* Zaokrąglenie prawego górnego rogu */
        }
      }
  
      tr:last-child {
        td:first-child {
          border-bottom-left-radius: 10px; /* Zaokrąglenie lewego dolnego rogu */
        }
  
        td:last-child {
          border-bottom-right-radius: 10px; /* Zaokrąglenie prawego dolnego rogu */
        }
      }
  
      tr:nth-child(even) {
        background-color: $semi-white;
        font-weight: 600;
        text-align: right;
        
      }
  
      tr:nth-child(odd) {
        background-color: $white;
        font-weight: 600;
        text-align: right;
      }
  
      input[type='text'] {
        width: 80%;
        padding: 5px;
        font-size: 1rem;
        border: 1px solid $light-grey;
        border-radius: 5px;
        outline: none;
  
        &:focus {
          border-color: #26961b;
        }
      }

      tbody{
        tr{
          td{
            text-align: center;
          }

          td:nth-child(1){
            text-align: right;
          }
        }
      }
    }
  }}
