@import '../../styles/global.scss'; // Importuj globalne zmienne, jeśli posiadasz

.content {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  
  .left{
    width: 50%;

    .selects{


      .selector{
        padding: 10px 0px;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;

        select{
          font-size: 1rem;
          font-weight: 600;
          border: 3px solid $grey;
        }
      }
    }


  h2 {
    margin: 0px 0px 20px 0px;
  }

  .selector,
  .userSelector {
    margin-bottom: 20px;

    select {
      padding: 8px;
      font-size: 1.3rem;
      border: 1px solid #ccc;
      border-radius: 5px;
      outline: none;

      &:focus {
        border-color: $grey; // Możesz użyć zmiennej z globalnych stylów
      }
    }
  }

  .submitStatus {
    margin: 20px 0px;

    p {
      margin: 0;
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

  .availabilityForm {
    width: 50%;
    .table {
      width: 80%;
      margin: 10px auto;
      border-collapse: collapse;
      background-color: #2c2c2c; // Ciemnoszare tło tabeli
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      font-size: 1.2rem;


      th:nth-child(1),
      td:nth-child(1) {
        width: 10%; // Pierwsza kolumna
      }
    
      th:nth-child(2),
      td:nth-child(2) {
        width: 10%; // Druga kolumna
      }
    
      th:nth-child(3),
      td:nth-child(3) {
        width: 10%; // Trzecia kolumna
      }

      thead {
        background-color: #ffffff; // Białe tło dla nagłówków

        th {
          text-align: left;
          padding: 10px;
          font-weight: bold;
        }
      }

      tbody {
        tr {
          &:nth-child(even) {
            background-color: #3d3d3d; // Alternatywne tło dla wierszy
          }

          &:nth-child(odd) {
            background-color: #2c2c2c;
          }

          &:hover {
            background-color: #444444; // Efekt najechania na wiersz
          }

          td {
            padding: 10px;
            
            border-left: 3px solid #555;
            color: #ffffff; // Kolor tekstu w tabeli
          
          &:first-child {
            border-left: none;
          }
        }



          input {
            width: 90%;
            padding: 5px;
            font-size: 14px;
            background-color: #ffffff; // Białe tło dla inputów
            color: #000000; // Czarny tekst dla inputów
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
            font-size: 1.2rem;
            text-align: center;

            &:focus {
              border-color: $grey; // Możesz użyć zmiennej
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }

  .saveButton,
  .confirmButton {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #26961b; // Możesz zdefiniować swój kolor główny
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 30%;

    &:hover {
      background-color: darken(#26961b, 10%); // Przyciemnij kolor przy hover
    }

    &:disabled {
      background-color: #888888;
      cursor: not-allowed;
    }
  }
}

.submitStatus {
  p {
    font-size: 14px; // Przykładowy rozmiar tekstu
  }

  .approved {
    color: green;
    font-weight: bold;
  }

  .notApproved {
    color: red;
    font-weight: bold;
  }
}
