@import '../../styles/global.scss';

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  overflow: hidden; 
}

header {
  flex: 0 0 12%; 
  min-width: 200px; 
  max-width: 300px; 
}

main {
  flex: 1 1 auto; 
  overflow-y: auto; 
  overflow-x: hidden; 
  width: 100%; 
}

.main > * {
  width: 100%;
  box-sizing: border-box; 
}
