@import '../../styles/global.scss';

/* Mixin do centracji */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styl głównego kontenera */
.container {
  width: 100vw;
  height: 100vh;
  @include flex-center;
  flex-direction: column;
  background-image: url(./blob-scene-haikei.svg);
  background-repeat: no-repeat;
  background-size: cover;
  

  .error {
    position: absolute;
    top: 20px; // Umieszczone 20px od góry kontenera
    color: $light-red;
    background-color: $dark-white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    transition: opacity 0.3s ease;
    z-index: 10;

    &.show {
      display: block;
    }
  }
}

/* Styl dla containerBox */
.containerBox {
  @include flex-center;
  flex-direction: column;
  background-color: $grey;
  padding: 1rem 3rem;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  color: $white;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);

  .heading {
    color: $white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    /* Przycisk ma zajmować 60% szerokości */
    button {
      width: 60%;
      align-self: center; /* Wyrównanie do środka */
    }

    /* Stylowanie błędu, który pojawia się pod przyciskiem */
    

    .registerPrompt {
      text-align: center;
      margin-top: 1em;
      font-size: 1rem;
      color: $light-blue;
      cursor: pointer;
      transition: color 0.3s ease;
    
      span {
        text-decoration: underline;
        font-weight: bold;
      }
    
      &:hover {
        color: darken($light-blue, 10%);
      }
    }
  }
}

/* Media queries */
@media (max-width: 768px) {
  .containerBox {
    width: 95%;
    padding: 2rem;
  }

  .heading {
    font-size: 1.8rem;
  }

  form {
    gap: 0.8rem;

    /* Przycisk dla mniejszych ekranów */
    button {
      width: 80%;
    }
  }
 
}
