@import '../../styles/global.scss';

.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  padding-bottom: 20px; // Dodaje dolny margines, aby uniknąć przyklejania się do dolnej krawędzi
  box-sizing: border-box;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 20px); // Uwzględnia marginesy po 20px z góry i dołu
  margin: 20px;
  gap: 20px;
  box-sizing: border-box;
}

.list, .tools {
  height: 100%;
  // border: 1px solid $dark-grey;
  box-sizing: border-box;
}

.list {
  width: 60%;

  h2 {
    font-size: 1.2rem;
    color: $white;
    background-color: $grey;
    padding: 10px;
    margin: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
  }
}

.tools {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
  box-sizing: border-box;

  .employee, .other {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    > * {
      width: calc(50% - 10px);
      min-height: 200px;
      padding: 10px;
      background-color: $grey;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 1200px) {
  .list {
    width: 60%;
  }

  .tools {
    width: 40%;
  }
}

@media (max-width: 1700px) {
  .list {
    width: 60%;
  }

  .tools {
    width: 40%;

    .employee, .other {
      flex-direction: column;

      > * {
        width: 100%;
      }
    }
  }
}

@media (max-width: 576px) {
  .list, .tools {
    width: 100%;
  }

  .tools {
    .employee, .other {
      flex-direction: column;

      > * {
        width: 100%;
      }
    }
  }
}
