// WeekView.module.scss

@import '../../../styles/global.scss';

.weekView {
  display: flex;
  flex-direction: column;
  padding: 20px;

  .weekViewTop {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;

    h3 {
      margin-right: 10px;
      font-size: 1.2rem;
      color: $dark-blue;
    }

    select {
      padding: 10px;
      font-size: 1rem;
      border: 1px solid $light-grey;
      border-radius: 5px;
      background-color: $semi-white;
      color: $dark-grey;

      &:focus {
        outline: none;
        border-color: $blue;
      }
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    border: 2px solid $grey;
    border-radius: 10px;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    table-layout: fixed; // Dodano to

    thead {
      background-color: $grey;
      color: $white;

      th {
        padding: 10px;
        text-align: center;
        font-size: 0.9rem;

        &:first-child {
          text-align: left;
          width: 20%; // Ustawiono szerokość dla pierwszej kolumny
        }

        &:not(:first-child) {
          width: 11.4286%; // Ustawiono równą szerokość dla pozostałych kolumn (80% / 7)
        }
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: $semi-white;
        }

        &:hover {
          background-color: $lighter-blue;
        }

        td {
          padding: 10px;
          text-align: center;
          vertical-align: middle;
          font-size: 0.8rem;
          border: 1px solid $light-grey;

          &:first-child {
            text-align: left;
            font-weight: bold;
            width: 20%; // Ustawiono szerokość dla pierwszej kolumny
          }

          &:not(:first-child) {
            width: 11.4286%; // Ustawiono równą szerokość dla pozostałych kolumn
          }

          &.editableCell {
            cursor: pointer;
            background-color: $white;

            &:hover {
              background-color: $lighter-blue;
            }
          }

          &.emptyCell {
            background-color: $dark-white;
            color: $light-grey;
          }

          .hours {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.8rem;
          }
        }
      }
    }

    .editableRow {
      border: 2px solid #ff8000;

      td {
        font-weight: 600;
      }
    }
  }

  // /* Responsywność */
  // @media (max-width: 768px) {
  //   .table {
  //     font-size: 0.8rem;

  //     thead {
  //       display: none;
  //     }

  //     tbody {
  //       tr {
  //         display: flex;
  //         flex-direction: column;
  //         margin-bottom: 10px;
  //         border: 1px solid $grey;
  //         border-radius: 5px;
  //         padding: 10px;

  //         td {
  //           display: flex;
  //           justify-content: space-between;
  //           padding: 5px 0;

  //           &:before {
  //             content: attr(data-label);
  //             font-weight: bold;
  //             margin-right: 10px;
  //             color: $dark-grey;
  //           }

  //           &.emptyCell {
  //             &:before {
  //               content: "Brak danych";
  //               color: $light-grey;
  //             }
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
}
