/* components/DayView/DayView.module.scss */
@import '../../../styles/global.scss';

.weekView {
  display: flex;
  flex-direction: column;
  align-items: center;

  .weekViewTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $grey;
    color: $white;
    width: 20%;
    height: 50px;
    padding: 0px 10px;
    border-radius: 10px;
    margin-bottom: 20px;

    h3 {
      height: 30px;
      text-align: center;
    }
    select {
      height: 30px;
      border-radius: 5px;
      width: 50%;
      font-size: 1rem;
      font-weight: 600;
    }
  }
}

.table {
  width: 100%;
  border-collapse: collapse; /* Zmieniono na collapse */
  /* border-spacing: 0; */   /* Zakomentowano, jeśli nie jest potrzebne */
  border-radius: 10px;
  overflow-x: auto;

  tr{
    height:60px;
  }

  th,
  td {
    text-align: center;
    border-bottom: 1px solid $grey; /* Dodano obramowanie */
    padding: 8px;

  }

  th {
    color: $white;
    border-radius: 10px 10px 0px 0px;
    border-left: 1px solid $white; /* Dodano lewe obramowanie */
    font-size: 1.2rem;
    background-color: $grey;
    border-bottom: 2px solid $grey; /* Dodano dolną granicę dla nagłówków */

    &:first-child {
      border-left: none;
      color: $white;
    }
  }

  td {
    color: $grey;
    background-color: $white;
    font-size: 1.2rem;
    font-weight: 600;

    &:first-child {
      border-left: none;
    }

    &:not(.namecell) {
      background-color: $white;
    }
  }

  .hours {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 5px;
    background-color: $white;
  }

  /* Ustaw szerokość dla pierwszej kolumny (Pracownik) */
  th:first-child,
  td.namecell {
    height: 40px;
    width: 20%;
    font-weight: 600;
    text-align: left;
    background-color: $white;
    color: $grey;
  }


  th:first-child {
    background-color: $grey;
    color: $white;
  }

  .names{
    width: 98%;
    height: 100%;
    padding-left: 2%;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    border-radius: 5px;
    background-color: $grey;
    color: $white;
  }

  /* Ustaw szerokość dla pozostałych kolumn */
  th:not(:first-child),
  td:not(.namecell) {
    width: calc(80% / 7);
  }

  /* Styl dla komórek w edytowalnym wierszu */
  tr.editableRow td {
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;

    &:first-child {
      border-left: 2px solid orange;
    }
    &:last-child {
      border-right: 2px solid orange;
    }
  }
}

.names{
  width: 80%;
  height: 20px;
  background-color: $white;
}