@import '../../../styles/global.scss'; // Importuj globalne zmienne, jeśli posiadasz

.autoFill{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 10px;
}

.form{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    label, input, select{
        margin-bottom: 10px;
        font-size: 1.2rem;
    }

    input,select{
        width: 40%;
    }

    select{
        width: 42%;
    }
}

button {
    @include button-style($blue, darken($blue, 10%));
    margin-bottom: 20px;
  }
