@import '../../styles/global.scss';

.panel {
    width: 100%;
    background-color: $grey;
    color: $white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    font-family: $default-font;

    .user-info {
        display: flex;
        flex-direction: column;
        background-color: $dark-grey;
        height: auto;
        margin: 10px;
        border-radius: 10px;

        .userTop {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 10px 0;

            .usericon {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: center;

                .accountcircle {
                    width: 100%;
                    font-size: 2rem;
                }
            }

            .username {
                width: 100%;
                height: 100%;
            }

            .name {
                font-size: 1.1rem;
                font-weight: bold;
                text-align: center;
            }
        }

        .userBottom {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-bottom: 5px;
            white-space: normal;
            word-break: break-word;

            .role,
            .team {
                font-size: 0.9rem;
                color: $white;
                text-wrap: wrap;
                padding: 0 10px;
                text-align: center;
                margin-bottom: 5px;

                span {
                    color: $light-blue;
                    width: 100%;
                    text-wrap: wrap;
                    font-weight: 600;
                }
            }
        }
    }

    .menu {
        width: 100%;
        margin: 10px 0 0 0;
        padding: 0;

        .menu-item {
            display: flex;
            align-items: center;
            color: $white;
            font-weight: 700;
            font-size: 1rem;
            padding: 10px;
            border-radius: 10px;
            margin: 10px 10px 0 10px;
            transition: background-color 0.2s ease-in;
            user-select: none;

            // Standard hover effect - white background and dark text
            &:hover {
                background-color: $white;
                color: $dark-grey;
                cursor: pointer;
            }

            &--highlight-blue {
                color: $light-blue; // Dark grey text on blue background
            }

            &--highlight-red {
                color: $light-red; // Dark grey text on blue background
            }

            // Specific hover effect for items with highlight-blue
            &--highlight-blue:hover {
                background-color: $light-blue;
                color: $dark-grey; // Dark grey text on blue background
            }

            // Specific hover effect for items with highlight-red
            &--highlight-red:hover {
                background-color: $light-red;
                color: $dark-grey;
            }

            .icon {
                margin-right: 8px;
                font-size: 1.2rem;
            }
        }
    }

    .footer {
        margin-top: auto;
        padding: 10px 0px;

        .menu-item {
            display: flex;
            align-items: center;
            color: $white;
            font-weight: 700;
            font-size: 1rem;
            padding: 10px;
            border-radius: 10px;
            margin: 5px 10px 0 10px;
            transition: background-color 0.2s ease-in;
            user-select: none;

            &:hover {
                background-color: $white;
                color: $dark-grey;
                cursor: pointer;
            }

            &--highlight-red {
                color: $light-red;
            }
            &--highlight-red:hover {
                background-color: $light-red;
                color: $dark-grey;
            }

            .icon {
                margin-right: 8px;
                font-size: 1.2rem;
            }
        }
    }
}
