@import '../../styles/global.scss';

/* Mixin do centracji */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styl głównego kontenera */
.container {
  width: 100vw;
  height: 100vh;
  @include flex-center;
  flex-direction: column;
}

/* Styl dla containerBox */
.containerBox {
  @include flex-center;
  flex-direction: column;
  background-color: $grey;
  padding: 1rem 3rem; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  min-height: 600px; /* Stabilna wysokość */
  color: $white;
  
  .heading {
    color: $white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h3 {
      color: $white;
      text-align: left;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $white;
    }

    /* Stylowanie błędu, który pojawia się pod przyciskiem */
    .error {
      box-sizing: border-box;
      color: red;
      font-size: 0.9rem;
      text-align: center;
      min-height: 1.5rem; /* Rezerwacja miejsca na komunikat */
      opacity: 0; /* Ukrywa tekst, ale zachowuje miejsce */
      transition: opacity 0.3s ease;
      margin-top: 0.5rem; /* Dodaj margines górny dla odstępu od przycisku */
    }

    .error.show {
      opacity: 1; /* Pojawia się płynnie */
    }
  }

  /* Styl dla pól formularza */
  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;

    .leftBox, .rightBox {
      flex: 1;
      min-width: 45%; /* Minimalna szerokość */
    }
  }
}

/* Responsywność */
@media (max-width: 768px) {
  .containerBox {
    width: 95%;
    min-height: auto;
    padding: 2rem;
  }

  .inputs {
    flex-direction: column;
    gap: 1rem;
  }

  .heading {
    font-size: 1.8rem;
  }

  form {
    gap: 1.5rem;
  }

  /* Przycisk dla mniejszych ekranów */
  form button {
    width: 80%;
  }
}
