@import '../../styles/global.scss';

/* Mixin do centracji */
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styl głównego kontenera */
.container {
  width: 100vw;
  height: 100vh;
  @include flex-center;
  flex-direction: column;

  .error {
    position: absolute;
    top: 1px; // Umieszczone 20px od góry kontenera
    color: $light-red;
    background-color: $dark-white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    transition: opacity 0.3s ease;
    z-index: 10;

    &.show {
      display: block;
    }
  }
}

/* Styl dla containerBox */
.containerBox {
  @include flex-center;
  flex-direction: column;
  background-color: $grey;
  padding: 1rem 3rem; 
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  height: 750px; /* Stabilna wysokość */
  color: $white;
  
  .heading {
    color: $white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

  

    h3 {
      color: $white;
      text-align: left;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid $white;
    }

    /* Stylowanie błędu, który pojawia się pod przyciskiem */

  }

  /* Styl dla pól formularza */
  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.5rem;

    .leftBox, .rightBox {
      flex: 1;
      min-width: 45%; /* Minimalna szerokość */
    }
  }

  .registerPrompt {
    text-align: center;
    margin-top: 1em;
    font-size: 1rem;
    color: $light-blue;
    cursor: pointer;
    transition: color 0.3s ease;
  
    span {
      text-decoration: underline;
      font-weight: bold;
    }
  
    &:hover {
      color: darken($light-blue, 10%);
    }
  }
}

/* Responsywność */
@media (max-width: 768px) {
  .containerBox {
    width: 95%;
    min-height: auto;
    padding: 2rem;
  }

  .inputs {
    flex-direction: column;
    gap: 1rem;
  }

  .heading {
    font-size: 1.8rem;
  }

  form {
    gap: 1.5rem;
  }

  /* Przycisk dla mniejszych ekranów */
  form button {
    width: 80%;
  }
}
